html {
  height: 100%;
  width: 100%;
}


.layout {
  border: 2px solid green;
  display: grid;
  grid:
    "span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 "1fr
  "span6 span6 span6 span6 span6 span6 . . . . . ." 1fr
  ". . . . . span3 span3 span3 . . . ." 1fr
  gap: 8px;
}
.spam12 {grid-area: span12; background-color: gray}
.spam6 {grid-area: span6; background-color: gray}
.spam3 {grid-area: span3; background-color: gray}
.spam1 {grid-area: span1; background-color: gray}

/*3x3*/
.layout2{
  width: 90%;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  border: 2px solid pink;
}
.x3{
  border:1px solid brown;
  background-color: #f9f2a4;

  /*Holy Grail*/
  .layout3{
    border: 2px solid red;
    width: 99%
    height: 300px;
    display: grid;
    grid:
      "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / 1fr auto;
    gapo: 8px
  }
  .header{grid-area: header; background-color: #333355;}
  .leftSide{grid-area: leftSide; background-color: #335533;}
  .body{grid-area: body; background-color: #553333;}
  .rightSide{grid-area: rightSide; background-color: #335533;}
  .footer{grid-area: footer; background-color: #333355;}
}
/*sidebar*/
.layoout4{
  boarder: 2px orange solid;
  width: 99%
  height:300px;
  display: grid;
  grid:
    "sidebar body1" 1fr
  / auto 1fr;
  gap:8px;
}
.sidebar{grid-area: sidebar; background-color: lightcoral}
.body1{grid-area: body1; background-color: darkviolet}

/*Header Main Footer*/
.layout5{
  border: 2px purple solid;
  width: 99%;
  height: 300px;
  display: grid;
  grid:
    "header1" auto
  "main" 1fr
  "footer1" auto
  /1fr;
  gap: 8px;

}
.header1{grid-area: header1; background-color: lavender;}
.main{grid-area: main; background-color: gray;}
.footer1{grid-area: footer1; background-color: burlywood;}

/*Infinite Row*/
.layout6{
  border: 2px solid gold;
  width: 99%;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 8px;
}
.infy{
  border:1px solid black;
  background-color: #d78265;
  
}
/*Infinite Rows with Areas*/
.layout7{
  border: 2px solid green;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}


/*flexbox rows*.coli1Last1*/

.layout8 {
  border: 2px solid red;
  display: flex;
  gap: 16px;
}

.flRow {
  border: 1px solid blue;
  background-color: #d78265
}

/*flexbox ROW Wrap*.*/
.layout9 {
  border: 2px solid orange;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/*flexbox filling the space*/
.layout10 {
  border: 2px solid #031203;
  display: flex;
  gap: 16px;
}

.growl {
  flex-grow1;
  background-color: #d78265;
  border: 1px solid black;
}

/*Flexbox Fit to remaining space*/
layout11 {
  border: 2px solid #cf2661;
  display: flex;
  gap: 16px;
}

/*Flexbox Separate*/
.layout12 {
  border: 2px solid #45071d;
  display: flex;
  gap: 16px;
}

.marginLeft {
  margin-left: auto;
  background-color: #b3d765;
  border: 1px solid black;
}

.layout5 {
  border: 2px solid #5a1c1c;
  display: flex;
  gap: 16px;
}


.translate {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  transform: translate(50px, 50px);
}

.rotate {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  transform: translate(50px, 50px);

}

#myDiv {
  transform: rotate(20deg);
}

.scale {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  margin: 150px;
  transform: scale(2, 3);
}

.scaleX {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  margin: 150px;
  transform: scaleX(2);
}

.scaleY {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  margin: 150px;
  transform: scaleY(2);
}

.skew {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  transform: skew(10deg);
}

.skewX {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  transform: skew(10deg);
}

.skewY {
  width: 300px;
  height: 100px;
  background-color: #dddd11;
  border: 1px solid black;
  transform: skew(10deg);
}
/*matrix()*/
/*matrix*/
#matrix{
  transform: matrix(1,0,0.5,1,0,0)
}
#matrix2D{
  transform: matrix(1,0,0,0.5,1,150,0)
}
#twoD{
  border:3px dashed lavender;
  background-color: lavenderblush
}

.rotate{
  
}








.perry{
  width: 100px;
  height: 100px;
  background-color: #c973bd;
  border:1px solid black;
  transition: width 2s, height 1s, background-color 3s;
}



#transition:hover{
  width: 200px;
  height: 200px;
  background-color: #73c97d;
  
  
}

#linear:hover{
  width:200;
  height:200;
  background-color: gold;
  transition-timing-function:linear;
}
#ease:hover{
  width:200;
  height:200;
  background-color: gold;
  transition-timing-function:ease;
}
#easeIn:hover{
  width:200;
  height:200;
   background-color: gold;
  transition-timing-function:ease-in;
}
#easeOut:hover{
  width:200;
  height:200;
     background-color: gold;
  transition-timing-function:ease-out;
}
#easeInOut:hover{
  width:200;
  height:200;
   background-color: gold;
  transition-timing-function:ease-in-out;
  transition-delay: 1s;
}


/*Animations*/
/*
@keyframes
animation-name





*/
@keyframes example{
  from{background-color: red
}

.cheeseCake{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 8;
}










